/* Auditorias > informes > PlanInspeccion.html */

/* General */
/*#content{
    background-color: #fff;

}*/
/*div{
    color:#000;
}
*/
.mdl_notas .modal-dialog{
    width: 100%;
  }
  .mdl_notas .modal-header{
    background: #0f1f31;
  }
  .mdl_notas .modal-header h4,.mdl_notas .modal-header button{
    color: white;
  }
  .mdl_notas .modal-footer{
    padding: 16px;
    background-color: #0f1f31;
  }
  .mdl_notas textarea{
    padding: 1rem;
  }
  img.img_prod_catalog{
    width: 100%;
    padding: 1rem;
  }
  .remove_item {
      position: absolute;
      right: 2rem;
      z-index: 99;
      margin-top: -5rem;
      color: black;
  }
  textarea.border {
    border: 1px solid #0e1e31;
  }
  .gris,
  .blanco {
      background: #DBDBDB;
      font-size: 90%;
  }
  
  .gris {
      color: #000;
      font-weight: 900;
  }
  
  .blanco {
      color: #FFF;
  }
  
  .gris57 {
      color: #575551;
  }
  
  .azul8080 {
      color: #008080;
  }
  
  .azul175 {
      color: #17365D;
  }
  
  .fondoAzulClaro {
      background: #D1EAF0;
  }
  
  .fondoAzulOscuro {
      background: #17365D;
  }
  
  .fondoGrisLAFR212 {
      background: #c0c0c0;
      padding-left: 5px;
  }
  
  .fondoWhith {
      background: #FFFFFF;
      padding-left: 5px;
  }
  
  .aqua {
      background-color: aquamarine;
  }
  
  .row {
      /*margin-top: 1%;  */
  }
  
  .none-space {
      margin: 0%;
      padding: 0%;
  }
  
  * {
      margin: 0%;
      padding: 0%;
  }
  
  .br-solid {
      border-right: solid 1px;
  }
  
  .circulo {
      width: 200px;
      height: 200px;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background: #DBDBDB;
      margin: auto;
  
  }
  
  /* Encabezado */
  .encabezadoPlanInspeccion {
      height: 100px;
  
  }
  
  .logoFac,
  .titulo,
  .datosFormulario {
      border: solid 1px;
      height: 100%;
      text-align: center;
  }
  
  .logoFac>img {
      width: 50%;
  }
  
  .logoFacWOB {
      height: 50%;
      text-align: center;
  }
  
  .logoFacWOB>img {
      width: 50%;
  }
  
  .logoSecad {
      margin-top: 20px;
  }
  
  .logoSecad>img {
      width: 85%;
  }
  
  .datosFormulario {
      margin: 0%;
      padding: 0;
      background-color: #fff;
  }
  
  .caracterisicasFormulario {
      display: flex;
      width: 100%;
      list-style: none;
  }
  
  .caracterisicasFormulario li {
      width: 50%;
      border: solid 1px;
      height: 25px;
      ;
      font-size: 90%;
  }
  
  /* Fecha y primer bloque de datos */
  .fecha {
      margin-top: 5px;
      margin-bottom: 15px;
  
  }
  
  .filaFormulario {
      font-weight: 100%;
      padding: 0;
      border: solid 1px #000;
  }
  
  /*.filaFormulario>div, .fecha>div{
      border: solid 1px #000;
      font-weight: 900;
  }*/
  .firstColDivider {
      border-right: solid 1px #000;
  }
  
  .filaFormularioTop {
      border-top: solid 1px #000;
  }
  
  .menuTipoInspeccion {
      list-style: none;
      height: 100%;
      font-size: 100%;
  }
  
  .menuTipoInspeccion li {
      height: 100%;
      font-size: 85%;
  
  }
  
  /* Segundo bloque de datos: Actividad de la inspeccion */
  .r>div {
      padding: 0;
      height: 100%;
  }
  
  .menuActInsp {
      list-style: none;
      width: 100%;
      height: auto;
      font-size: 90%;
  }
  
  .menuActInsp li {
      width: 100%;
      height: 100%;
      border-left: solid 1px;
  }
  
  /* tercer bloque */
  .esL>div {
      padding: 0%;
      margin: 0%;
  }
  
  /* ---------------------------------------------- */
  /* Auditorias > informes > PlanMejoramiento.html */
  /* ---------------------------------------------- */
  .menu-tipoAcc {
      display: flex;
      list-style: none;
      padding: 0%;
      width: 100%;
      margin: 0;
  }
  
  .menu-tipoAcc>li {
      width: 34%;
      font-size: 80%;
      border-bottom: solid 1px #000;
      border-top: solid 1px #000;
  }
  
  .ptable {
      border-top: 1px solid #000;
  }
  
  /* ---------------------------------------------- */
  /* Auditorias > informes > InformeInspeccion.html */
  /* ---------------------------------------------- */
  .radioTipoRep {
      width: 80%;
      margin-left: 10%;
      display: block;
      margin: 0%;
      padding: 0%;
  }
  
  .table-tipoReporte tr {
      height: 100%;
      ;
  }
  
  .table-tipoReporte tr td {
      max-height: 10%;
      font-size: 80%
  }
  
  .inputInforme {
      width: 100%;
      font-size: 80%;
      height: 100px;
  }
  
  .firmaFormulario>div {
      border: solid 1px #000;
      font-weight: 900;
      font-size: 90%;
      height: 100%;
  }
  
  /* ---------------------------------------------- */
  /* Auditorias > informes > SEGUIMIENTO ACCIONES CORRECTIVAS PREVENTICAS Y DE MEJORA */
  /* ---------------------------------------------- */
  .table-segumiento tr {
      font-size: 90%;
      text-align: center;
  }
  
  .table-x {
      font-size: 88%;
  }
  
  .line-b {
      border-bottom: 2px solid;
  }
  
  .line-c {
      border-bottom: 2px dashed;
  }
  
  .line-bt {
      border-top: 2px solid;
  }
  
  .line-ct {
      border-top: 2px dashed;
  }
  
  .lighterFont {
      font-weight: lighter !important;
      line-height: normal !important;
  }
  
  .table-x tr th {
      /* border-right: 1px solid;
      border-color:black;*/
  }
  
  .borderL {
      border-left: 1px solid !important;
      border-color: black;
  }
  
  .borderR {
      border-right: 1px solid !important;
      border-color: black;
  }
  
  .borderT {
      border-top: 1px solid !important;
      border-color: black;
  }
  
  .borderB {
      border-bottom: 1px solid !important;
      border-color: black;
  }
  
  .squeareB {
      border-left: 1px solid !important;
      border-right: 1px solid !important;
      border-top: 1px solid !important;
      border-bottom: 1px solid !important;
      border-color: black;
  
  }
  
  
  .seccionLAFR212 label {
      font-weight: 500;
      margin-bottom: 0px;
  }
  
  .seccionLAFR212 p {
      margin-bottom: 0px;
  }
  
  /* ---------------------------------------------- */
  /* Auditorias > informes > INFORME VISITA ACOMPAÑAMIENTO */
  /* ---------------------------------------------- */
  .menuInformeVisAcom {
      list-style: none;
      height: 100%;
      padding: 0%;
      margin: 0%;
  }
  
  .menuInformeVisAcom>li {
      border: 1px solid;
      width: 100%;
      height: 33%;
  }
  
  .encabezadoPlanInspeccion>div {
      padding: 0%;
  }
  
  /* ---------------------------------------------- */
  /* Auditorias > CREARPERSONAL */
  /* ---------------------------------------------- */
  
  /* ---------------------------------------------- */
  /* SEGUIMIENTO PLAN MEJORAMIENTO_M */
  /* ---------------------------------------------- */
  .scroll {
      overflow-x: auto;
  }
  
  .content-escarapela {
      background-color: #FFF;
  }
  
  .escarapela img {
      /*height: 200px;*/
      width: 50%;
      margin-left: 25%;
  }
  
  .escarapela p {
      width: 80%;
      margin-left: 10%;
      font-size: 20px !important;
  }
  
  .letraGris {
      color: #808080;
  }
  
  .divFondoGris {
      color: #d9d9d9;
  }
  
  .negro {
      color: #000;
      font-weight: 400 !important;
  }
  
  .LetraBold {
      font-weight: bold !important;
  }
  
  .borderA {
  
      padding-left: 0px;
      padding-right: 0px;
  }
  
  .down {
  
      padding-top: 3px;
  }
  
  .downC {
      padding-top: 9px;
  }
  
  /*formulario joel*/
  
  .table-header-3 {
      padding: 0;
      margin: 0;
      font-weight: 700;
      min-height: 25px;
      max-height: 25px;
  }
  
  .total-center {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .form-fac {
      font-family: 'Arial', sans-serif';
  
  }
  
  .form-fac-subtitulo {
      border-top: 2px solid #000;
      border-bottom: 2px solid #000;
  }
  
  .form-fac-subtitulo p {
      font-weight: 700;
      font-size: 15.8px;
  }
  
  .form-fac p {
      margin: 0;
  }
  
  .form-fac-th {
      padding: 0 !important;
      min-height: 30px;
      max-height: 30px;
      text-align: center;
  }
  
  .form-fac-th p {
      font-size: 11px !important;
      font-weight: 700;
      line-height: 13px;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 16px;
  }
  
  .form-fac-td {
      font-size: 12px;
      text-align: center !important;
      line-height: 13px !important;
      padding: 1px !important;
      min-height: 30px;
      max-height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .form-fac-parrafo {
      min-height: 53px;
      display: flex;
      align-items: center;
      padding: 3px 0 0 3px;
      max-height: 53px;
      line-height: 20px;
      font-weight: 700;
      font-size: 15px;
  }
  
  .form-fac-2 tr th,
  .form-fac-2 tr td {
      border: 2px solid #000 !important;
  }
  
  .form-fac-row>div {
      font-weight: 700;
      text-align: center;
      padding: 3px 0;
  }
  
  .form-fac tr td {
      text-align: center;
      line-height: 15px !important;
  }
  
  .form-fac-2 .th-0 {
      font-weight: 700;
      padding: 4px 0 0 0 !important;
      vertical-align: top;
  }
  
  .form-fac-footer {
      text-align: center;
      font-size: 13px;
      min-height: 75px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .main-th {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  
  .th-1 {
      height: 29px;
  }
  
  .th-2 {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 11px !important;
      width: 100%;
      border-top: 2px solid #000;
  }
  
  .th-2-2 {
      text-align: center;
      font-size: 11px;
      line-height: 13px;
      padding-top: 4rem !important;
      position: relative;
      width: 135px;
      line-height: 13px !important;
  }
  
  .espan:before {
      content: "4.1. Estado de Cumplimiento";
      background-color: #fff;
      position: absolute;
      top: 0px;
      width:215px;
      left: 0;
      height: 35px;
      padding-top: 6px;
      font-size: 14px;
      border-bottom: 2px solid black;
      border-right: 1px solid black;
  }
  
  .th-2-2 span {
      display: block;
      font-weight: 400;
  }
  
  .div-border {
      padding: 3px 0 0 3px;
  }
  
  .styleA {
      padding-left: 5px;
      padding-top: 2px;
      border-top-width: 2px;
      padding-bottom: 2px;
  }
  
  .styleB {
      padding-top: 28px;
      border-top-width: 0px;
  }
  
  .styleC {
      padding-top: 33px;
  }
  
  .styleD {
      padding-top: 33px;
  }
  
  .styleE {
      padding-top: 34px;
  }
  
  .styleF {
      padding-top: 28px;
      border-top-width: 0px;
  }
  
  .styleG {
      padding-top: 175px;
  }
  
  .styleH {
      padding-top: 28px;
      border-top-width: 0px;
  }
  
  /* Modal > Loading */
  /* ---------------------------------------------- */
  .modalFAC {
      position: fixed;
      z-index: 999;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background-color: Black;
      filter: alpha(opacity=60);
      opacity: 0.6;
      -moz-opacity: 0.8;
  }
  
  .centerModalFAC {
      z-index: 1000;
      margin: 300px auto;
      width: 130px;
      background-color: transparent;
      border-radius: 10px;
      filter: alpha(opacity=100);
      opacity: 1;
      -moz-opacity: 1;
  }
  
  .centerModalFAC img {
      height: 128px;
      width: 128px;
  }
  
  /*Titulo Encabezado*/
  .title-fac {
      float: left;
      width: 100%;
      position: absolute;
      text-align: center;
  }
  
  .div-img-right {
      text-align: right;
  }
  
  .div-img-left {
      text-align: left;
  }
  
  .title-fac img {
      height: 64px;
      padding-right: 15px;
  }
  
  .foto-personal {
      border: solid 1px #ccc;
      height: 160px;
      margin-left: 52.5px;
      margin-right: 52.5px;
  }
  
  .foto-personal img {
      width: 159px;
      height: 158px;
  }
  
  .foto-personalInf {
      border: solid 1px #ccc;
      height: 160px;
      margin-left: 26.5px;
      margin-right: 26.5px;
      top: 18px;
  }
  
  .foto-personalInf img {
      width: 172px;
      height: 175px;
  }
  
  .foto-diploma {
      border: solid 1px #ccc;
      height: 160px;
      margin-left: 27.5px;
      margin-right: 27.5px;
  }
  
  .foto-diploma img {
      width: 159px;
      height: 158px;
  }
  
  .foto-producto {
      border: solid 1px #ccc;
      height: 160px;
      margin-left: 52.5px;
      margin-right: 52.5px;
      text-align: center;
  }
  
  .foto-producto img {
      width: 159px;
      height: 158px;
  }
  
  @media (max-width: 769px) {
      .title-fac img {
          display: none;
      }
  }
  
  .encabezadoFR212 {
      height: auto;
      /*border: solid ;*/
      text-align: center;
  
  }
  
  .encabezadoFR212 h6 {
      font-size: 9px;
  }
  
  .encabezadoFR212 h5 {
      font-size: 11px;
  }
  
  /*modificado joel alvarez*/
  
  .customChk {
      margin-top: 2px;
      margin-bottom: 2px;
      margin-left: 3px;
      display: flex;
      align-items: center;
  }
  
  .customChk input[type="checkbox"] {
      margin: 0;
      margin-right: 5px;
  }
  
  /*modificado joel alvarez*/
  
  .headerFS {
      font-size: 14px !important;
  }
  
  /*EXTRA MARGINS*/
  .mt-0 {
      margin-top: 0px !important;
  }
  
  .mt-5 {
      margin-top: 5px !important;
  }
  
  .mt-10 {
      margin-top: 10px !important;
  }
  
  .mt-15 {
      margin-top: 15px !important;
  }
  
  .mt-20 {
      margin-top: 20px !important;
  }
  
  .mt-25 {
      margin-top: 25px !important;
  }
  
  .mt-30 {
      margin-top: 30px !important;
  }
  
  .mt-40 {
      margin-top: 40px !important;
  }
  
  .mt-50 {
      margin-top: 50px !important;
  }
  
  .mt-60 {
      margin-top: 60px !important;
  }
  
  .mt-80 {
      margin-top: 80px !important;
  }
  
  .mb-0 {
      margin-bottom: 0px !important;
  }
  
  .mb-5 {
      margin-bottom: 5px !important;
  }
  
  .mb-10 {
      margin-bottom: 10px !important;
  }
  
  .mb-15 {
      margin-bottom: 15px !important;
  }
  
  .mb-20 {
      margin-bottom: 20px !important;
  }
  
  .mb-25 {
      margin-bottom: 25px !important;
  }
  
  .mb-30 {
      margin-bottom: 30px !important;
  }
  
  .mb-40 {
      margin-bottom: 40px !important;
  }
  
  .mb-50 {
      margin-bottom: 50px !important;
  }
  
  .mb-60 {
      margin-bottom: 60px !important;
  }
  
  .mb-80 {
      margin-bottom: 80px !important;
  }
  
  .pt-0 {
      padding-top: 0px !important;
  }
  
  .pt-5 {
      padding-top: 5px !important;
  }
  
  .pt-10 {
      padding-top: 10px !important;
  }
  
  .pt-15 {
      padding-top: 15px !important;
  }
  
  .pt-20 {
      padding-top: 20px !important;
  }
  
  .pt-25 {
      padding-top: 25px !important;
  }
  
  .pt-30 {
      padding-top: 30px !important;
  }
  
  .pt-40 {
      padding-top: 40px !important;
  }
  
  .pt-50 {
      padding-top: 50px !important;
  }
  
  .pt-60 {
      padding-top: 60px !important;
  }
  
  .pt-80 {
      padding-top: 80px !important;
  }
  
  .pb-0 {
      padding-bottom: 0px !important;
  }
  
  .pb-5 {
      padding-bottom: 5px !important;
  }
  
  .pb-10 {
      padding-bottom: 10px !important;
  }
  
  .pb-15 {
      padding-bottom: 15px !important;
  }
  
  .pb-20 {
      padding-bottom: 20px !important;
  }
  
  .pb-25 {
      padding-bottom: 25px !important;
  }
  
  .pb-30 {
      padding-bottom: 30px !important;
  }
  
  .pb-40 {
      padding-bottom: 40px !important;
  }
  
  .pb-50 {
      padding-bottom: 50px !important;
  }
  
  .pb-60 {
      padding-bottom: 60px !important;
  }
  
  .pb-80 {
      padding-bottom: 80px !important;
  }
  
  .pl-0 {
      padding-left: 0px !important;
  }
  
  .pl-5 {
      padding-left: 5px !important;
  }
  
  .pl-10 {
      padding-left: 10px !important;
  }
  
  .pl-15 {
      padding-left: 15px !important;
  }
  
  .pl-20 {
      padding-left: 20px !important;
  }
  
  .pl-25 {
      padding-left: 25px !important;
  }
  
  .pl-30 {
      padding-left: 30px !important;
  }
  
  .pl-40 {
      padding-left: 40px !important;
  }
  
  .pl-50 {
      padding-left: 50px !important;
  }
  
  .pl-60 {
      padding-left: 60px !important;
  }
  
  .pl-80 {
      padding-left: 80px !important;
  }
  
  .pr-0 {
      padding-right: 0px !important;
  }
  
  .pr-5 {
      padding-right: 5px !important;
  }
  
  .pr-10 {
      padding-right: 10px !important;
  }
  
  .pr-15 {
      padding-right: 15px !important;
  }
  
  .pr-20 {
      padding-right: 20px !important;
  }
  
  .pr-25 {
      padding-right: 25px !important;
  }
  
  .pr-30 {
      padding-right: 30px !important;
  }
  
  .pr-40 {
      padding-right: 40px !important;
  }
  
  .pr-50 {
      padding-right: 50px !important;
  }
  
  .pr-60 {
      padding-right: 60px !important;
  }
  
  .pr-80 {
      padding-right: 80px !important;
  }
  
  
  
  .tree {
      min-height: 20px;
      padding: 19px;
      margin-bottom: 20px;
      background-color: #fbfbfb;
      border: 1px solid #999;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
      -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05)
  }
  
  .tree li {
      list-style-type: none;
      margin: 0;
      padding: 10px 5px 0 5px;
      position: relative
  }
  
  .tree li::before,
  .tree li::after {
      content: '';
      left: -20px;
      position: absolute;
      right: auto
  }
  
  .tree li::before {
      border-left: 1px solid #999;
      bottom: 50px;
      height: 100%;
      top: 0;
      width: 1px
  }
  
  .tree li::after {
      border-top: 1px solid #999;
      height: 20px;
      top: 25px;
      width: 25px
  }
  
  .tree li span {
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border: 1px solid #999;
      border-radius: 5px;
      display: inline-block;
      padding: 3px 8px;
      text-decoration: none
  }
  
  .tree li.parent_li>span {
      cursor: pointer
  }
  
  .tree>ul>li::before,
  .tree>ul>li::after {
      border: 0
  }
  
  .tree li:last-child::before {
      height: 30px
  }
  
  .tree li.parent_li>span:hover,
  .tree li.parent_li>span:hover+ul li span {
      background: #eee;
      border: 1px solid #94a0b4;
      color: #000
  }
  
  .table input,
  textarea {
      width: 100%
  }
  
  .table p {
      font-size: 9px;
  }
  
  
  /*Titulo header */
  .tittleHeadFAC {
      margin-top: 10px;
      margin-bottom: 0;
      font-family: Eras Demi ITC;
      font-size: 24px;
      font-weight: 400;
      color: #fff;
  }
  
  .subTittleHeadFAC {
      margin: 0;
      font-family: Eras Demi ITC;
      font-size: 16px;
      font-weight: 400;
      color: #fff;
  }
  
  #base {
      min-height: unset !important;
  }
  
  .gui-td-icon {
      font-size: 18px;
  }
  
  ::-webkit-scrollbar {
      width: 8px;
  }
    
  ::-webkit-scrollbar-thumb {
      background: #c1c1c1;
      border-radius: 8px;
  }
  
  ::-webkit-scrollbar-thumb:hover{
      background: rgba(0, 0, 0, 0.384); 
  }
  
  .modal-box {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1050;
      width: 100vw;
      height: 100vh;
      overflow: hidden;
      outline: 0;
      background: rgba(0, 0, 0, 0.7);    
  }
  
  .modal-box-1 {
      z-index: 1051 !important;
  }
  
  .modal-box-inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
  }
  
  .modal-box-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      pointer-events: auto;
      border-radius: 0.35rem;
      box-shadow: 0 0.25rem 0.5rem rgb(0 0 0 / 50%);
  }
  
  .modal-box-sm {
      width: 25vw;
  }
  
  .modal-box-md {
      width: 35vw;
  }
  
  .modal-box-lg {
      width: 50vw;
  }
  
  .modal-box-lg1 {
      width: 80vw;
  }
  
  .modal-box-h95 {
      height: 95vh;
  }
  
  .modal-box-header {
      width: 100%;
      height: 40px;
      padding-left: 20px;
      padding-right: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      background-color: #001767;
      color: white;
      border-top-left-radius: 0.35rem;
      border-top-right-radius: 0.35rem;
  }
  
  .modal-header-dark {
      background-color: #00a65a !important;
  }
  
  .modal-box-body {
      flex: 1;
      background-color: white;
      padding: 20px;
      overflow: hidden;
  }
  
  .modal-box-footer {
      background-color: #dfdfdf;
      padding: 0.7rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      border-top: 1px solid #ced4da;
      border-bottom-left-radius: 0.35rem;
      border-bottom-right-radius: 0.35rem;
  }
  
  .modal-box-footer .btn {
      padding: 0.25rem 1rem;
      font-size: 13px;
      width: 100px !important;
  }
  
  .modal-box-footer .btn-primary {
      background-color: #3c8dbc;
  }
  
  .modal-box-footer > * {
      margin: 0.25rem;
  }
  
  .close-modal {
      cursor: pointer;
  }
  
  .modal-box .close {
      opacity: unset;
      color: white;
  }