<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Email Notificacion</title>
    <style type="text/css">
    body {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        margin: 0 !important;
        width: 100% !important;
        -webkit-text-size-adjust: 100% !important;
        -ms-text-size-adjust: 100% !important;
        -webkit-font-smoothing: antialiased !important;
    }

    .tableContent img {
        border: 0 !important;
        display: block !important;
        outline: none !important;
    }

    a {
        color: #382F2E;
    }

    p,
    h1 {
        color: #382F2E;
        margin: 0;
    }

    p {
        text-align: left;
        color: #999999;
        font-size: 14px;
        font-weight: normal;
        line-height: 19px;
    }

    a.link1 {
        color: #382F2E;
    }

    a.link2 {
        font-size: 16px;
        text-decoration: none;
        color: #ffffff;
    }

    h2 {
        text-align: left;
        color: #222222;
        font-size: 19px;
        font-weight: normal;
    }

    div,
    p,
    ul,
    h1 {
        margin: 0;
    }

    .bgBody {
        background: #ffffff;
    }

    .bgItem {
        background: #ffffff;
    }

    @media only screen and (max-width:480px) {
        table[class="MainContainer"],
        td[class="cell"] {
            width: 100% !important;
            height: auto !important;
        }
        td[class="specbundle"] {
            width: 100% !important;
            float: left !important;
            font-size: 13px !important;
            line-height: 17px !important;
            display: block !important;
            padding-bottom: 15px !important;
        }
        td[class="spechide"] {
            display: none !important;
        }
        img[class="banner"] {
            width: 100% !important;
            height: auto !important;
        }
        td[class="left_pad"] {
            padding-left: 15px !important;
            padding-right: 15px !important;
        }
    }

    @media only screen and (max-width:540px) {
        table[class="MainContainer"],
        td[class="cell"] {
            width: 100% !important;
            height: auto !important;
        }
        td[class="specbundle"] {
            width: 100% !important;
            float: left !important;
            font-size: 13px !important;
            line-height: 17px !important;
            display: block !important;
            padding-bottom: 15px !important;
        }
        td[class="spechide"] {
            display: none !important;
        }
        img[class="banner"] {
            width: 100% !important;
            height: auto !important;
        }
        .font {
            font-size: 18px !important;
            line-height: 22px !important;
        }
        .font1 {
            font-size: 18px !important;
            line-height: 22px !important;
        }
    }
    </style>
</head>

<body leftpadding="0" offset="0" paddingheight="0" paddingwidth="0" style="padding-top: 0; padding-bottom: 0; padding-top: 0; padding-bottom: 0; background-repeat: repeat; width: 100% !important; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased;" toppadding="0">
    <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="tableContent" style="font-family:Helvetica, Arial,serif;" width="100%">
        <tbody>
            <tr>
                <td>
                    <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="MainContainer" width="600">
                        <tbody>
                            <tr>
                                <td style="height:5px">
                                    
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table cellpadding="0" cellspacing="0" width="100%" style="border: solid 1px #ccc; border-radius: 2px; box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);">
                                        <tbody>
                                            <td style=" height: 55px; background-color: #0f1f31; text-align: center; border-radius: 2px;" colspan="3">
                                                <h1 style="color: #fff">Auditor Plus</h1>
                                            </td>
                                            <tr>
                                                <td valign="top" width="40">&nbsp;</td>
                                                <td>
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                        <tbody>
                                                            <!-- =============================== Header ====================================== -->                  
                                                            <tr>
                                                                <td class="movableContentContainer " valign="top">
                                                                    <div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
                                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td height="35">&nbsp;</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>
                                                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td align="center" class="specbundle" valign="top">
                                                                                                        <div class="contentEditableContainer contentTextEditable"><span class="sg-image" data-imagelibrary="%7B%22width%22%3A332%2C%22height%22%3A50%2C%22alignment%22%3A%22%22%2C%22border%22%3A0%2C%22src%22%3A%22http%3A//authenticfarma.com.co/wp-content/uploads/2016/09/authentic_farma-03.png%22%2C%22classes%22%3A%7B%22sg-image%22%3A1%7D%7D"><a><img height="120" src="https://www.fac.mil.co/sites/all/themes/escudos/images/logo1.png" style="width: 120px; height: 120px;" width="120" /></a></span></div>
                                                                                                    </td>
                                                                                                    <td align="center" class="specbundle" valign="top">
                                                                                                        <div class="contentEditableContainer contentTextEditable"><span class="sg-image" data-imagelibrary="%7B%22width%22%3A332%2C%22height%22%3A50%2C%22alignment%22%3A%22%22%2C%22border%22%3A0%2C%22src%22%3A%22http%3A//authenticfarma.com.co/wp-content/uploads/2016/09/authentic_farma-03.png%22%2C%22classes%22%3A%7B%22sg-image%22%3A1%7D%7D"><a><img height="120" src="https://www.ciac.gov.co/site/docs/agremiaciones/secad.jpg" style="width: 120px; height: 120px;" width="120" /></a></span></div>
                                                                                                    </td>
                                                                                                        <div class="contentEditableContainer contentTextEditable">
                                                                                                            <div class="contentEditable">
                                                                                                                <p style="text-align:center;margin:0;font-family:Georgia,Time,sans-serif;font-size:26px;color:#289CDC;">&nbsp;</p>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    <div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
                                                                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td align="center" valign="top">
                                                                                        <div class="contentEditableContainer contentImageEditable">
                                                                                            <div class="contentEditable">&nbsp;</div>
                                                                                        </div>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    <div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
                                                                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td height="55">&nbsp;</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td align="left">
                                                                                        <div class="contentEditableContainer contentTextEditable">
                                                                                            <div align="center" class="contentEditable">
                                                                                                <h2>Tienes un nuevo documento por revisar</h2> </div>
                                                                                        </div>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td height="15"><span style="color: rgb(153, 153, 153); font-family: Helvetica, Arial, serif; font-size: 14px; background-color: rgb(255, 255, 255);">Para continuar el seguimiento al Programa por favor revise las actividades</span>
                                                                                        <br style="color: rgb(153, 153, 153); font-family: Helvetica, Arial, serif; font-size: 14px; background-color: rgb(255, 255, 255);" /> &nbsp;</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td align="left">
                                                                                        <div class="contentEditableContainer contentTextEditable">
                                                                                            <div align="center" class="contentEditable">
                                                                                                <p><span style="color:#222222;">Equipo Auditor Plus</span></p>
                                                                                            </div>
                                                                                        </div>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td height="55">&nbsp;</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td align="center">
                                                                                        <table>
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td align="center" bgcolor="#0f1f31" style="background:#0f1f31; padding:15px 18px;-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;">
                                                                                                        <div class="contentEditableContainer contentTextEditable">
                                                                                                            <div align="center" class="contentEditable"><a class="link2" href="" + txtUrl + "" style="color:#ffffff;" target="_blank">Ver documento</a></div>
                                                                                                        </div>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td height="20">&nbsp;</td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    <div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
                                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td style="border-bottom:1px solid #DDDDDD;">&nbsp;</td>
                                                                                </tr>                              
                                                                                <tr>
                                                                                    <td>
                                                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td class="specbundle" valign="top">
                                                                                                        <div class="contentEditableContainer contentTextEditable">
                                                                                                            <div align="center" class="contentEditable">
                                                                                                                <p style="text-align:left;color:#CCCCCC;font-size:12px;font-weight:normal;line-height:20px;"><span style="color:#222222">Fuerza A&eacute;rea Colombiana</span>
                                                                                                                    <br /> <span style="color:#222222">Jefatura Logistica / SECAD</span>
                                                                                                                    <br /> <span style="color:#222222">Madrid - Cundinamarca</span></p>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </td>
                                                                                                    <td class="specbundle" valign="top" width="30">&nbsp;</td>
                                                                                                    <td class="specbundle" valign="top">
                                                                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                                                            <tbody>
                                                                                                                <tr> </tr>
                                                                                                            </tbody>
                                                                                                        </table>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td height="40">&nbsp;</td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    <!-- =============================== footer ====================================== -->
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td valign="top" width="40">&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>